<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ $style := resources.Get "scss/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <link rel='shortcut icon' type='image/x-icon' href='/images/icons/favicon.ico' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" data-api-key="{{ getenv "SNIPCART_KEY" }}" id="snipcart"></script>
    <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" rel="stylesheet" type="text/css" />
    <title>cebercomm</title>
</head>
<body>
<header class="header">
    <a class="header__branding" href="/">
        <img class="header__logo" src="https://upload.wikimedia.org/wikipedia/commons/f/f5/Noun_Bird_1711227_006699.svg" alt="bird logo">
        <!-- CC License Info <p><a href="https://commons.wikimedia.org/w/index.php?curid=77775787">"File:Noun Bird 1711227 006699.svg"</a><span> by <a href="https://thenounproject.com/coquet_adrien/">Adrien Coquet, FR</a></span> is licensed under <a href="https://creativecommons.org/licenses/by/4.0?ref=ccsearch&atype=html" style="margin-right: 5px;">CC BY 4.0</a><a href="https://creativecommons.org/licenses/by/4.0?ref=ccsearch&atype=html" target="_blank" rel="noopener noreferrer" style="display: inline-block;white-space: none;margin-top: 2px;margin-left: 3px;height: 22px !important;"><img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc_icon.svg" /><img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc-by_icon.svg" /></a></p>-->
        <h1 class="header__title">cebercomm</h1>
    </a>
    <div class="header__cart">
        <a href="#" class="snipcart-checkout" style="text-decoration: none;">
            <div class="snipcart-summary">
                <img src="/images/icons/cart.svg" alt="">
                <span class="snipcart-total-price"></span>
            </div>
        </a>
    </div>
</header>